@import '../../../assets/scss/variables';

@mixin phone {
  @media (min-width: 0) and (max-width: 980px) { @content; }
}
@mixin tablet-portrait-up {
  @media (min-width: 980px) { @content; }
}
@mixin desktop-up {
  @media (min-width: 990px) and (max-width: 1700px) { @content; }
}
@mixin big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

.container {
  padding-top: 28px;

  .loader {
    margin-top: 20px;
    justify-items: center;
    flex: 1;
    align-self: center;
    align-items: center;
    flex: 1;
    flex-direction: row;
  }

  .item{
    padding-top: 12px;
    border-bottom: solid 1px $warm_grey;

    a {
      text-decoration: none;
      font-weight: bolder;
      font-size: large;
      color: $link_color;

      span {
        text-decoration: none;
        font-size: large;
        font-weight: normal;
        color: $link_color;
      }
    }

    span {
      font-size: small;
      color: $slate_grey_two;
    }

    h5 {
      padding-top: 12px;
    }
  }

  .user-info-mobile {

    padding-left: 30px;

    .flex {
      display: flex;
    }

    .flex-wrap {
      flex-wrap: wrap;
    }

    .item {
      margin: 5px;
      background: tomato;
      text-align: center;
      font-size: 1.5em;
    }

    margin: 0 auto;

    img {
      border-radius: 50%;
      max-width: 80px;
    }

    h3 {
      font-weight: bolder;
    }

    .user {
      padding-left: 15px;
      padding-top: 10px;
    }

    @include phone {
      display: flex;
    }

    @include tablet-portrait-up {
      display: flex;
    }

    @include desktop-up() {
      display: none;
    }

    @include big-desktop-up() {
      display: none;
    }

  }

  .user-info-desktop {

    @include desktop-up() {
      display: block;
    }

    @include big-desktop-up() {
      display: block;
    }

    @include phone {
      display: none;
    }

    text-align: center;
    max-height: 100px;
    flex: 1;
    align-items: center;

    img {
      border-radius: 50%;
      max-width: 150px;
    }

    h3 {
      font-weight: bolder;
    }

  }

  .tabs {
    padding-left: 48px !important;

  }
}

/* ink bar */
::ng-deep .mat-ink-bar {
  background-color: $rusty_orange !important;
}
